<?xml version="1.0"?>
<robot name="mecanum_robot">

  <material name="blue"> <color rgba="0 0 0.8 1"/> </material>
  <material name="black"> <color rgba="0 0 0 1"/> </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.72 0.72 0.66"/>
      </geometry>
      <origin xyz="0 0 0.33" rpy="0 0 0"/> <material name="blue"/>
    </visual>
  </link>

  <link name="laser"/> 
  <joint name="virtual_laser_joint" type="fixed">
    <parent link="base_link"/>
    <child link="laser"/>
    <origin xyz="0 0 0.66" rpy="0 0 0"/> 
  </joint>

  <link name="laser1"/> 
  <joint name="front_laser_joint" type="fixed">
    <parent link="base_link"/>
    <child link="laser1"/>
    <origin xyz="0.18 0 0.66" rpy="0 0 0"/> 
  </joint>

  <link name="laser2"/>
  <joint name="rear_laser_joint" type="fixed">
    <parent link="base_link"/>
    <child link="laser2"/>
    <origin xyz="-0.18 0 0.66" rpy="0 0 3.14159"/> 
  </joint>

  <link name="front_left_wheel"/>
  <joint name="front_left_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_left_wheel"/>
    <origin xyz="0.21 0.23 0" rpy="0 0 0"/>
  </joint>

  <link name="front_right_wheel"/>
  <joint name="front_right_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_right_wheel"/>
    <origin xyz="0.21 -0.23 0" rpy="0 0 0"/>
  </joint>

  <link name="back_left_wheel"/>
  <joint name="back_left_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="back_left_wheel"/>
    <origin xyz="-0.21 0.23 0" rpy="0 0 0"/>
  </joint>

  <link name="back_right_wheel"/>
  <joint name="back_right_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="back_right_wheel"/>
    <origin xyz="-0.21 -0.23 0" rpy="0 0 0"/>
  </joint>

</robot>
